.MainDiv {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
}

.mainInfo {
    font-size: 4em;
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color:#efeae3 ;
}
.firstSpan{
    font-style: italic;
}