.MainDiv {
    background: url("./../../accets/sky.jpg") no-repeat;
    background-size: 100%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    height: 500px;
    border: transparent 1px solid;
}

.spanTittle {
    text-align: center;
    font-size: 4em;
    display: block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: bold;
}